<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name , :placeholder => "escriba aqui", class:"form-control"%>
  </div>
  <div class="field form-group">
    <%= f.label :edad %><br>
    <%= f.number_field :age , :placeholder => "escriba aqui" , class:"form-control"   %>
  </div>
  <div class="field form-group">
    <%= f.label :genero %><br>
    <%= f.radio_button :gender, "masculino" %>
    <%= f.label :masculino %>
    <%= f.radio_button :gender, "femenino"  %>
    <%= f.label :femenino %>
  </div>
  <div class="field form-group">
    <%= f.label :Ciudad %><br>
    <%= f.collection_select :country_id, Country.order(:name),:id,:name, include_blank: true%>
  </div>
<!--.collect{ |c| [ c.name] }-->
  <div class="actions" >
    <%= f.submit value:"Guardar", class:"btn btn-primary"%>
  </div>
<% end %>
