<p id="notice"><%= notice %></p>

<h1>Lista Personas</h1>

<%= form_tag(people_path,:method => "get", id: "search-form")do %>
  <div class="input-append">
    <%= text_field_tag :buscar,params[:buscar],placeholder:"buscar persona" %>
    <%= submit_tag "buscar persona" %>
  </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Fotografía</th>
      <th>Nombre</th>
      <th>Edad</th>
      <th>genero</th>
      <th>Pais</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= image_tag person.image.url(:thumb) %></td>
        <td><%= person.name %></td>
        <td><%= person.age %></td>
        <td><%= person.gender %></td>
        <td><%= person.country.name %></td>
        <td><%= link_to '', person ,class:"fa fa-search"%></td>
        <td><%= link_to '', edit_person_path(person),class:"fa fa-pencil-square-o" %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?',class:"fa fa-trash" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path,class:"btn btn-default" %>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>

