<p id="notice"><%= notice %></p>
<table class="table">
	<tbody>	
		<tr>
			<td><p>
			  <strong>Name:</strong>
			  <%= @person.name %>
			</p></td>
		</tr>
		<tr>
			<td><p>
			  <strong>Age:</strong>
			  <%= @person.age %>
			</p></td>
		</tr>
    <tr>
      <tr>
      <td><p>
        <strong>Age:</strong>
        <%= @person.gender %>
      </p></td>
    </tr>
    <tr>
      <td><p>
        <strong>Pais:</strong>
        <%= @person.country.name  %>
      </p></td>
    </tr>
	</tbody>
</table>  
    
    <h2>Comments</h2>
    <% @person.comments.each  do |comment|+1 %>
      <p>
        <strong>Commenter:</strong>
        <%= comment.commenter %>
      </p>
     
      <p>
        <strong>Comment:</strong>
        <%= comment.body %>
      </p>
    <% end %>





    <h2>Add a comment:</h2>
    <%= form_for([@person, @person.comments.build]) do |f| %>
      <p>
        <%= f.label :comentador %><br>
        <%= f.text_field :commenter %>
      </p>
      <p>
        <%= f.label :texto %><br>
        <%= f.text_area :body %>
      </p>
      <p>
        <%= f.submit %>
      </p>
    <% end %>




<%= link_to 'Edit', edit_person_path(@person) ,class:"btn btn-warning" %> |
<%= link_to 'Back', people_path ,class:"btn btn-danger"%>



<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'libroswebjairo';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>




<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'libroswebjairo';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>